extends layout
block content
    script(type='text/javascript').
      $(document).ready(function () {
              $('#uploadForm').submit(function () {
                  $("#hash").val("File is uploading...");
                  $(this).ajaxSubmit({
                      error: function (xhr) {
                          status('Error: ' + xhr.status);
                      },
                      success: function (response) {
                          $("#hash").val(response);
                          var hash = response;
                          notaryContract.newDocument(hash, {from: web3.eth.coinbase, gas: 1800000});
                      }
                  });
                  return false;
              });
          });
    .container
      h2 Signature your own file
      form#uploadForm(action='/fingerprint/', method='post', enctype='multipart/form-data')
        .form-group
          label(for='file') File:
          input#file.form-control(name='userFile', type='file', placeholder='Enter a file')
        .form-group
          label(for='pwd') Hash:
          input#hash.form-control(type='text', disabled='')
        button.btn.btn-default(type='submit') Save to ethereum!
        
 