extends layout
block content
    .container
      h2 Signature your own file
      form(role='form')
        .form-group
          label(for='file') File:
          input#email.form-control(type='file', placeholder='Enter a file')
        .form-group
          label(for='pwd') Hash:
          input#pwd.form-control(type='password', disabled='')
        button.btn.btn-default(type='submit') Save to ethereum!
        
 