doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='javascripts/dist/jquery.js')
    script(type='text/javascript' src='javascripts/dist/jquery.js')
    script(type='text/javascript' src='javascripts/jquery-ui.js')
    script(type='text/javascript' src='javascripts/hwcrypto.js')

  body
    block content
