extends layout
block content
    script(type='text/javascript').
      function register() {
      var publicKey = document.getElementById('publicKey').value;
      alert('publicKey: ' + publicKey);
      document.getElementById('link').innerHTML = "LINK";
      }
    .container
      h2 Signature your own file
        
        .form-group
            input#publicKey.form-control(type='text', name='publicKey')
        button.btn.btn-default(onclick='register()') Register
    #link