extends layout
block content
	script(type='text/javascript').
		$(document).ready(function () {
				$(window).load(function () {

					var documents = new Array();

					notaryContract.DocumentEvent({}, {fromBlock: 0, toBlock: "latest"}).watch(function (a, transaction) {
						
						var hash = web3.toAscii(transaction.args.hash);

						for (var i = 0; i < documents.length; i++) {
							if (documents[i].hash === hash && documents[i].to === transaction.args.to) {
								doc = documents[i];
							}
						}

						if (typeof doc !== "undefined") {
							return;
						}
                                                

						documents.push({hash: hash, to: transaction.args.to, from: transaction.args.from, blockNumber: transaction.args.blockNumber.toString()});

						var table = document.getElementById("transactionTable");

						var row = table.insertRow();

						var cell1 = row.insertCell(0);
						var cell2 = row.insertCell(1);
						var cell3 = row.insertCell(2);
						var cell4 = row.insertCell(3);

						cell1.innerHTML = "<a href='https://etherchain.org/tx/" + transaction.transactionHash +"'>" + transaction.transactionHash.substring(0, 9) + "...</a>";
						cell2.innerHTML = "<a href='https://etherchain.org/account/" + transaction.args.from +"'>" + transaction.args.from.substring(0, 9) + "...</a>";
						cell3.innerHTML = "<a href='https://etherchain.org/account/" + transaction.args.to.toString() +"'>" + transaction.args.to.substring(0, 9) + "...</a>";
						cell4.innerHTML = "<a href='https://etherchain.org/block/" + transaction.args.blockNumber.toString() +"'>" + transaction.args.blockNumber.toString() + "</a>";
					});
				});
			});
	.container
		h2 List of transactions:
			table.table.table-striped
				thead
					tr
						th(style='min-width:200px') ID
						th(style='min-width:200px') From
						th(style='min-width:200px') To
						th(style='min-width:50px') Block number
				tbody#transactionTable(style='font-size: 10pt;')
